/* Remove margens e garante que o HTML possa ter altura total */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
    min-height: 100vh; /* Garante altura mínima em todas as páginas */
}

/* Esta regra 'main' é para páginas com layout de header/footer
   (como a index.html) e não afetará o admin.html */
main {
    flex: 1; 
}