:root {
  --bs-primary: #5e2a1c;
  --bs-primary-rgb: 94, 42, 28;

  --bs-secondary: #c86b4a;
  --bs-secondary-rgb: 200, 107, 74;

  --bs-dark: #421f15;
  --bs-dark-rgb: 66, 31, 21;

  --bs-body-bg: #f5efe6;
  --bs-body-color: #421f15;

  --bs-link-color: #5e2a1c;
  --bs-link-hover-color: #c86b4a;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

main {
  flex: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 56px;
}